.icons {
    fill: currentColor; 
    transition: fill 0.9s ease; 
  }

.letsConnect {
    color: currentColor;
    transition: color 0.9s ease; 
}
  
.highlighted {
    fill: #26ceff ; 
    transition: fill 0.9s ease; 
}

.letsConnectHighlighted {
    color: #26ceff;
    transition: color 0.9s ease; 
}