.icons {
    fill: currentColor; 
    transition: fill 0.9s ease; 
  }

.letsConnect {
    color: currentColor;
    transition: color 0.9s ease; 
}
  
.highlighted {
    fill: #7eee3e ; 
    transition: fill 0.9s ease; 
}

.letsConnectHighlighted {
    color: #7eee3e;
    transition: color 0.9s ease; 
}
  
